#block1{
    width: 300px;
    height: 200px;
    background-color: rgb(31, 140, 236);
    float: left;
}
#block2{
    width: 200px;
    height: 200px;
    background-color: rgb(226, 9, 9);
    position: relative;
    top: 50px;
    left: 40%;
    z-index: 100;