body{
    background-color: rgba(80, 138, 224, 0.829);
}
div p{
    color: rgb(226, 43, 43);
}
h1+p{
    font-size: 48px;
}
p b{
    font-size: 24px;
    color: brown;
}
p > b{
    color: chartreuse;
}
.position{
    text-align: center;
}
#word{
    color: blue;
}
div+p{
    color: rgb(11, 241, 11);
}
div+p::after{ 
    content: "Короб Е" ;
    color: black;
}
h1:hover{
    background-color: black;
    color: white;
}
input:focus{
    border: 5px solid #f00;
    outline: none;
}
input[type="password"]:focus{
    border: 5px solid rgb(119, 0, 255);
    outline: none;
}
    